body {
	background: #FFFFFF;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#wrapper {
	background: #FFFFFF;
	margin: 60px auto;
	width: 960px;
	height: 1024px;
}
    
#header {
	background: #abcdef;
	height: 50px;
	width: 960px;
}

#navigation {
	background: #ffffff;
	width: 960px;
	height: 50px;
}

#menu {
	background: #ffffff;
	float: left;
	width: 200px;
	height: 624px;
	font-size: 15px;
}
 
#content {
	background: #d2d0d2;	
	width: 960px;
	height: 624px;
}

#footer {
    font-size: 20px;
	background: #ffffff;
	height: 25px;
	width: 960px;
}
